[submodule "src/thirdparty/logger"]
	path = src/thirdparty/logger
	url = https://github.com/Unsigned-Long/logger.git
[submodule "src/thirdparty/csv"]
	path = src/thirdparty/csv
	url = https://github.com/Unsigned-Long/CSV-Handler.git
[submodule "src/thirdparty/slam-scene-viewer"]
	path = src/thirdparty/slam-scene-viewer
	url = https://github.com/Unsigned-Long/slam-scene-viewer.git
